.planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;

  .planos__title {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: var(--black-10);
    }

    h4 {
      margin: 0 10px;
      font-size: 1rem;
      font-weight: bold;
      color: var(--black-10);
    }
  }

  .planos__subtitle {
    h1 {
      line-height: 1.1;
      margin-top: 1rem;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      color: var(--white);
    }

    p {
      line-height: 1.1;
      margin-top: 1rem;
      font-size: 1.1rem;
      text-align: center;
      font-weight: 300;
      color: var(--white);
    }
  }

  .planos__boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    width: 100%;

    .box__divider {
      margin: 2rem auto;
      width: 80%;
      height: 1px;
      color: var(--white);
      background-color: var(--black-20);
    }

    .planos__box {
      display: flex;
      flex-direction: column;
      width: 23%;
      padding: 1rem 0;
      border-radius: 1rem;
      background-color: var(--white);
      transition: all 0.3s ease-in-out;
      box-shadow: 15px 17px 38px -15px rgba(0, 0, 0, 0.73);

      img {
        width: 50%;
        margin: -10% auto;
        height: auto;
      }

      .plano__standart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65%;
        text-align: left;
        height: 100%;
        color: var(--white);
        border-radius: 0 1rem 1rem 0;
        background-image: linear-gradient(
          to bottom,
          #1c1c1c,
          #323232,
          #4a4a4a,
          #636363,
          #7e7d7d
        );
        box-shadow: 15px 17px 38px -15px rgba(0, 0, 0, 0.73);
        padding: 0.5rem 0rem;
      }

      .box__title {
        margin: 0 1rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--black-60);
      }

      .box__subtitle {
        text-align: center;
        margin: 0 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--black-20);
      }

      .box__content {
        padding: 0 1rem;
        margin-top: 1rem;
        ul {
          text-align: center;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            font-size: 1rem;
            font-weight: 300;
            color: var(--black-90);
            margin-bottom: 1rem;
          }
        }
      }

      .planos__button {
        border-radius: 1.5rem;
        width: 60%;
        max-width: 200px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem auto;
        cursor: pointer;
        background-image: linear-gradient(
          to bottom,
          #1c1c1c,
          #323232,
          #4a4a4a,
          #636363,
          #7e7d7d
        );
        box-shadow: 15px 17px 38px -15px rgba(0, 0, 0, 0.73);

        span {
          margin: 0.6rem 1rem;
          font-size: 0.9rem;
          font-weight: 700;
          color: var(--white);
        }

        .button__icon {
          margin: 0.6rem;
          display: flex;
          width: 2rem;
          height: 2rem;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--white);
          color: var(--black-60);

          svg {
            padding: 0.5rem;
          }
        }
      }

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
  }
}

@media (max-width: 1280px) {
  .planos {
    padding: 0 2rem;
    margin: 5rem 0;

    .planos__boxs {
      flex-direction: column;
      gap: 4rem;
      width: 70%;

      .planos__box {
        width: 70%;
      }
    }
  }
}

@media (max-width: 768px) {
  .planos {
    padding: 0 1rem;
    margin: 5rem 0;

    .planos__boxs {
      flex-direction: column;
      gap: 4rem;
      width: 96%;

      .planos__box {
        width: 100%;

        .planos__button {
          width: 98%;
        }
      }
    }
  }
}
