.tests {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  padding: 0 3rem;

  .box__aviso {
    margin: 5rem auto;
    width: 90%;
    text-align: center;

    h1 {
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--black);
      margin-bottom: 1rem;
    }

    span {
      color: var(--black-20);
      font-size: 1.2rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
      color: var(--black-90);
      margin: 0.5rem 0 1.5rem 0;
    }

  }

  .tests__title {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: var(--black-20);
    }

    h4 {
      margin: 0 10px;
      font-size: 1rem;
      font-weight: bold;
      color: var(--black-20);
    }
  }

  h1 {
    line-height: 1.1;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--black-90);
  }

  .tests__boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;

    .tests__box {
      width: 30%;
      text-align: center;
      padding: 2rem 1.5rem;
      border-radius: 1rem;
      box-shadow: 0px 0px 31px 5px rgba(0, 0, 0, 0.42);

      .box__title {
        font-size: 1.5rem;
        font-weight: 900;
        color: var(--black-90);
      }

      .box__content {
        height: 12rem;
        width: 80%;
        line-height: 2;
        font-size: 1.1rem;
        margin: 1rem auto;
        font-weight: 500;
        color: var(--black-80);
      }

      .box__button {
        margin: 4rem auto 0;
        border-radius: 1.5rem;
        padding: 0.5rem 1rem;
        border: none;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(
          to bottom,
          #1c1c1c,
          #323232,
          #4a4a4a,
          #636363,
          #7e7d7d
        );
        cursor: pointer;
        box-shadow: 15px 17px 38px -15px rgba(0, 0, 0, 0.73);

        span {
          font-size: 0.9rem;
          font-weight: 700;
          color: var(--white);
        }

        .box__icon {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }

  .tests__video {
    width: 100%;
    padding: 2rem;
    background-image: linear-gradient(
      to bottom,
      #1c1c1c,
      #323232,
      #4a4a4a,
      #636363,
      #7e7d7d
    );
    border-radius: 1rem;
    margin-top: 10%;
    margin-bottom: 5rem;
    border: 1px solid var(--black-90);

    h1 {
      font-size: 2.2rem;
      text-align: center;
      font-weight: bold;
      color: var(--white);
      margin-bottom: 3rem;
    }

    .video__button {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: none;
      background-color: var(--black-80);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 2rem;
      transform: scale(1);
      animation: pulse-black 2s infinite;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: var(--white);
        animation: pulse-white 2s infinite;
        svg {
          color: var(--black-90);
        }
      }

      svg {
        width: 1.1rem;
        height: 1.1rem;
        margin-left: 0.2rem;
        text-align: center;
        color: var(--white);
      }
    }

    @keyframes pulse-black {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 28px rgba(0, 0, 0, 0);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }

    @keyframes pulse-white {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 28px rgba(255, 255, 255, 0);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      }
    }
  }
}

@media (max-width: 768px) {
  .tests {
    padding: 0 1rem;

    .tests__boxs {
      flex-direction: column;
      padding: 0 3rem;

      .tests__box {
        width: 100%;
        margin-top: 2rem;

        .tests__box {
          width: 100%;
        }
      }
    }

    .tests__video {
      width: 96%;
    }
  }
}
