.funcionalities {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40%;
    height: 40%;
  }

  .funcionalities__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .funcionalities__container {
    height: 14rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    background-color: #111213;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10%;
    transition: all 0.3s ease-in-out;

    svg {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 300;
      color: var(--white);
    }

    &:hover {
      background-color: var(--black-80);
    }
  }

  .aside__left {
    margin-left: 2rem;
  }

  .aside__right {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .funcionalities {
    flex-direction: column;

    img {
      width: 70%;
      height: 70%;
    }

    .funcionalities__left,
    .funcionalities__right {
      width: 100%;

      .funcionalities__container {
        width: 100%;
      }
    }

    .aside__left {
      margin-left: 0rem;
    }

    .aside__right {
      margin-right: 0rem;
    }
  }
}
