.perguntas {
  margin-top: 10%;
  padding: 0 3rem;

  .perguntas__title {
    display: flex;
    align-items: center;

    div {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: var(--black-10);
    }

    h4 {
      margin: 0 10px;
      font-size: 1rem;
      font-weight: bold;
      color: var(--black-10);
    }
  }

  .perguntas__subtitle {
    h1 {
      line-height: 1.1;
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
      color: var(--white);
    }
  }

  .perguntas__container {
    width: 100%;
    margin-top: 2rem;
    display: flex;

    .perguntas__content {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 920px) {
  .perguntas {
    padding: 0 1rem;
    text-align: center;

    .perguntas__title {
      justify-content: center;
    }

    .perguntas__container {
      flex-direction: column;
    }

  }
}
