.footer {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -5px 39px 1px var(--black-80);
  align-items: center;
  padding: 0rem 2rem;
  margin-top: 10%;
  color: var(--black-10);

  .footer__logo {
    width: 20%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .footer__atalhos {
    display: flex;
    width: 30%;
    border-radius: 1rem;
    width: 30%;

    .atalhos__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 2rem;

      a {
        text-decoration: none;
        color: var(--black-10);
        margin-bottom: 1rem;
      }
    }

    .atalhos__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2rem;

      a {
        text-decoration: none;
        color: var(--black-10);
        margin-bottom: 1rem;
      }
    }
  }

  p {
    width: 30%;
  }
}
