.download {
  padding: 10rem 3rem 20rem 3rem;
  background-color: #fff;
  background-image: url("/src/assets/Home-2.png");
  background-position: top right;
  background-repeat: no-repeat;

  ul {
    list-style: inside;
    margin-bottom: 0.5rem;

    li {
      font-size: 0.9rem;
      font-weight: bold;
      color: var(--black-20);
    }
  }

  .download__text {
    width: 30%;

    h1 {
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: bold;
      color: var(--black-80);
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      color: var(--black-60);
    }

    a {
      display: flex;
      width: 7rem;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--black-90);
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: var(--black-20);
      }
    }
  }

  .download__buttons {
    display: flex;
    align-items: center;
    margin-top: 4rem;

    .download__button {
      border-radius: 1.5rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 1rem;
      cursor: pointer;
      box-shadow: 15px 17px 38px -15px rgba(0, 0, 0, 0.73);

      span {
        margin: 0.6rem 1rem;
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--white);
      }

      .button__icon {
        margin: 0.6rem;
        display: flex;
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--white);
        color: var(--black-60);

        svg {
          padding: 0.5rem;
        }
      }
    }

    .button__box {
      background-color: var(--black-60);
    }

    .button__movel {
      background-color: var(--black-90);
    }
  }
}
