.download {
  padding: 10rem 3rem 20rem 3rem;
  background-color: #fff;
  background-image: url("/src/assets/Home-2.png");
  background-position: top right;
  background-repeat: no-repeat;

  .download__text {
    width: 36%;

    ul {
      list-style: inside;
      margin-bottom: 0.5rem;

      li {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--black-20);
      }
    }

    h1 {
      margin-bottom: 2rem;
      font-size: 2.4rem;
      font-weight: 900;
      color: var(--black-80);
    }

    p {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: var(--black-60);

      a {
        display: inline-block;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--black-90);
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: var(--black-20);
        }
      }
    }
  }

  .download__buttons {
    display: flex;
    align-items: center;
    margin-top: 4rem;

    .download__button {
      border-radius: 1.5rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 1rem;
      cursor: pointer;
      box-shadow: 15px 17px 38px -15px rgba(0, 0, 0, 0.73);

      span {
        margin: 0.6rem 1rem;
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--white);
      }

      .button__icon {
        margin: 0.6rem;
        display: flex;
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        border-radius: 50%;
        background-color: var(--white);
        color: var(--black-60);

        svg {
          padding: 0.5rem;
        }
      }
    }

    .button__box {
      background-image: linear-gradient(
        to bottom,
        #1c1c1c,
        #323232,
        #4a4a4a,
        #636363,
        #7e7d7d
      );
    }

    .button__movel {
      background-image: linear-gradient(
        to bottom,
        #1c1c1c,
        #323232,
        #4a4a4a,
        #636363,
        #7e7d7d
      );
    }
  }
}

@media (max-width: 920px) {
  .download {
    background: none;
    padding: 5rem 2rem 5rem 2rem;

    .download__text {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .download {
    background: none;
    text-align: center;
    padding: 5rem 2rem 5rem 2rem;

    .download__text {
      width: 80%;
      margin: 0 auto;
    }

    .download__buttons {
      width: 100%;
      flex-direction: column;
      gap: 2rem;

      .download__button {
        width: 40%;
      }
    }
  }
}
