:root {
  --black: #000000;
  --white: #ffffff;

  --black-10: #cfcece;
  --black-20: #7e7d7d;
  --black-40: #3b3b3b;
  --black-60: #2c2c2c;
  --black-80: #1c1c1c;
  --black-90: #010101;

  --blue: #0000ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background-color: #111213;
  line-height: 1.5;
}
